NODE_ENV=development
PRISMA_DATABASE_URL="postgresql://postgres:12345678@localhost:5432/mobile_banking?schema=public"
MONGODB_DATABASE_URL="mongodb+srv://mobile-banking:EgLf8xfwBLqXy4r2@cluster0.psgygfs.mongodb.net/mobile-banking?appName=Cluster0"
CLIENT_URL="https://mobile-banking.com"
PORT=5000
BCRYPT_SALT_ROUNDS=10

# Redis Config
REDIS_URL="redis://localhost:6379"
RATE_LIMITING_WINDOW=60
RATE_LIMITING_MAX_REQUESTS=100

# Email / Nodemailer Config
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@mobile-banking.com"


# jwt section
JWT_ACCESS_TOKEN=cba2946e1bc7e109125ce67172ca093a77169282849799d984bba7a781cdce85974199759d3138e74ac70b3a57639b2dd444d59017afd94b3f22e8c4f9b5124f
JWT_REFRESHTOKEN=2e61bff2f58e73c1a3a4ded5c511f8744b232af2ee587941accae656442e0a7ef20a81171865af3a51935db5b7fb92c9bdc57f2ff6c627ceb2ed419d45b45e85
JWT_ACCESS_EXPIRE_IN=5m
JWT_REFRESH_EXPIRE_IN=10d


