PRISMA_DATABASE_URL="postgresql://postgres:12345678@localhost:5432/mobile_banking?schema=public"
MONGODB_DATABASE_URL="mongodb+srv://mobile-banking:EgLf8xfwBLqXy4r2@cluster0.psgygfs.mongodb.net/mobile-banking?appName=Cluster0"
CLIENT_URL="https://mobile-banking.com"
PORT=5000

# Redis Config
REDIS_URL="redis://localhost:6379"

# Email / Nodemailer Config
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@mobile-banking.com"